<!--
function createMenu(dir, div_ele, dir_name, tree_level){
    let folders = dir.folders;
    let files = dir.files;
    if(folders !== undefined){
        for(let i=0,l=folders.length; i<l; i++){
            let div_next = document.createElement("div");
            div_next.style.paddingLeft="25px";
            div_next.style.overflow="hidden"
            div_next.style.height="0px"
            div_ele.appendChild(createFolderButton(folders[i].name,div_next))
            div_ele.appendChild(div_next);

            createMenu(dir.folders[i],div_next,dir_name+"/"+folders[i].name,tree_level+1);
        }
    }
    if(files !== undefined){
        for(let i=0,l=files.length; i<l; i++){
            div_ele.appendChild(createFileButton(files[i],dir_name))
        }
    }
}
-->
