{%- assign sub = include.navigation.sub -%}
{%- if sub -%}
    {%- for folder in sub -%}
        {% assign categoryname = folder.category | split: '\\' | first %}
        <div class="navbar-folder">{{categoryname}}</div>
        <div class="navbar-folder-box" data-category="{{categoryname}}">{%- include nav-sub.html navigation=folder -%}</div>
    {%- endfor -%}
{%- else -%}
    {% assign categoryname = include.navigation.category | split: ' \\ ' | last %}
    {%- if categoryname -%}
        <ul>{%- include categorizedPosts.html category=categoryname -%}</ul>
    {%- endif -%}
{%- endif -%}

