<input type="checkbox" id="sidebar_button" style="display: none;">
<label for="sidebar_button" class="sidebar-button" style="position: fixed;z-index: 3;left:10px;top:10px">
    <div style="width:25px;height:2px;border-radius:2px;margin:6px 0;background-color: gray;"></div>
    <div style="width:25px;height:2px;border-radius:2px;margin:6px 0;background-color: gray"></div>
    <div style="width:25px;height:2px;border-radius:2px;margin:6px 0;background-color: gray"></div>
</label>

<div class="sidebar">
    <div class="sidebar-profile"></div>
    <div class="sidebar-apps"></div>
    <div class="sidebar-navbars"></div>
    <p style="margin:20px;font-weight: bold; color:rgba(0,0,0,0.1)">made by Jungi</p>
</div>
<div class="sidebar-behind"></div>