
.post{
    border-radius: 20px;
    width:900px;
    min-width:0px;
    background-color: white;
    margin:20px;
    margin-left:0px;
    color:var(--text-color);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    padding:60px;
    overflow-x: hidden;
}

/* .post>*{
    margin:60px;
} */

.post-title{
    font-size:36px;
    margin-bottom:50px;
}

.post-header>.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

.post-dir{
    color:var(--text-highlight-color);
    font-weight: bold;
}
.post-dir:hover{text-decoration: underline;}
.post-dir:hover::after{
    content: "OPEN";
    position: absolute;
    margin-left:5px;
    padding:3px;
    border-radius: 5px;
    font-size: 14px;
    color:#FFF;
    background-color: rgba(100, 148, 237, 0.4);
}
.post-date{
    color:darkgray;
    color:lightgray;
    font-weight:bold;
}
.post-hyperlink{
    background:var(--background);
    background-color: rgba(142, 156, 182,0.13);
    background-color: var(--background);
    border-radius: 10px;
    padding:10px;
    margin:20px 0;
    font-size: 16px;
    /* font-weight: bold; */
}
.post-hyperlink>li{
    padding-left: 20px;
    /* margin: 1px 0; */
    color: var(--text-highlight-color);
    list-style-position: inside;
    font-weight:bold;
}
.post-hyperlink a{
    text-decoration: none;
    color: var(--text-highlight-color);
    color: var(--text-color);
    /* color:var(--text-color);
    font-weight: normal; */
    /* color:#595970; */
    /* color:white; */
}
.post-hyperlink a:hover{
    color:var(--text-highlight-color);
    /* text-decoration: underline; */
}


.post-header{
    border-bottom: solid 3px var(--background);
}

.post-content{
    padding:10px 0;
    /* border-top: solid 3px rgb(240, 240, 240); */
    /* border-bottom: solid 3px rgb(240, 240, 240); */
    counter-reset: index;
}
.post-content>*{
    margin:10px 0;
}

/*post content*/
.post-content .post-link {
    color: var(--text-highlight-color);
    font-weight: bold;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.post-content .post-link:hover{text-decoration: underline;}
.post-content a{font-weight: bold;}
.post-content>:is(h2,h3,h4){margin-top:20px;}
.post-content>h2{font-size: 20px;margin-top:20px;}
.post-content>h1{font-size: 30px;margin-top:40px;}
.post-content>h1::before{
    counter-increment: index;
    content: counter(index) " ";
    color: var(--text-highlight-color);
}

.post-content p{
    font-size: 16px;
}

.post-content :is(ul, ol){
    font-size: 16px;
    margin-left: 24px;
}


.post-content ul{
    list-style-type:disc;
}

/* .post-content li{
    margin:0px 0;
} */

.post-content ol>li::marker {
    /* font-size: 0.9em; */
    font-weight: bold;
}

table {
    display: table;
    width: 100%;
    border: none;
    border-collapse:collapse;
    font-size: 16px;
}
thead {display: table-header-group;font-size:1em;border-spacing: 0;}
.post-content :is(td, th) {padding: 2px;border: 1.6px solid rgb(230, 230, 230);}
tbody>tr:nth-child(2n+1){background-color: rgb(247, 247, 247);}

.post-content blockquote{
    background-color: rgb(247,247,247);
    border-left: solid 4px gray;
    padding:10px;
}
.post-content blockquote>p{margin:0px;}

.post-content .highlighter-rouge *{
    font-family: var(--code-font);
    font-size:14px;
}

.post-content .highlighter-rouge{
    font-family: var(--code-font);
    font-size:0.9em;
    background-color: whitesmoke;
    border-radius:10px;
    padding:15px;
    line-height:20px;
    overflow-x: scroll;
}
.post-content .highlighter-rouge::-webkit-scrollbar{width:0;height:0}

.post-content .language-plaintext{
    padding:1px;
    /* line-height:14px; */
    
    color:var(--text-highlight-color)/*lightcoral darkorange crimson cornflowerblue*/;
    /* color:white; */
    font-weight: bold;
    border-radius:5px;
}

/*code highlight*/
code .c1{color:darkgray; font-style: italic;/*rgb(145, 184, 145);  darkseagreen*/}
/* code :is(.kd,.k,.nt){font-weight: bold;} */
code :is(.dl,.s1,.s2,.sr,.se,.s){color:var(--text-highlight-color);/*chocolate*/}
code .p{color:dimgray;}






.post-content .highlighter-rouge{background-color:#292930;}
.post-content .language-plaintext{background-color:#F7F7F7}
code{color:white;}
code :is(.cm,.c1){color:darkgray; font-style: italic;}
code :is(.kd,.k,.nt,.kc){color:cornflowerblue;}
code :is(.dl,.s1,.s2,.sr,.se,.s){color:lightsalmon;}
code .p{color:violet;}
code :is(.nf,.na){color:khaki;}
code :is(.mi,.nd,.nx,.nb){color:lightskyblue;}