.post{
    border-radius: 5px;
    margin:20px;
    padding: 60px;
    width:800px;
    background-color: white;
}

.post-header{
    padding-bottom:50px;
    vertical-align: middle;
}

.post-content{
    padding:10px 0 10px 0;
    border-top: solid 3px rgb(240, 240, 240);
    border-bottom: solid 3px rgb(240, 240, 240);
    font-size: 18px;
    font-weight: 400;
}

div::-webkit-scrollbar{
    height: 0;
}

.post-content h1,h2,h3,h4{
    margin-top:40px;
    margin-bottom:10px;
}
.post-content p,li{
    color:rgb(70,70,70);
    line-height: 160%;
    font-size: 18px;
    font-weight: 500;
    margin:10px 0 10px 0;
}

.post-content li{
    margin:0 0 0 30px;
}

.highlighter-rouge *{
    font-family: Consolas, monospace;
    font-weight:400;
    font-size:15px;
}

.highlighter-rouge{
    font-family: Consolas, monospace;
    font-weight:400;
    font-size:15px;
    color:rgb(100,100,100);
    background-color:rgb(247,247,247);
    border-radius:5px;
    margin:10px 0 10px 0;
    padding:10px;
    line-height:120%;
    overflow-x: scroll;
}

.language-plaintext{
    padding:3px;
    color:dodgerblue;
    font-weight: bold;
}

/*code highlight*/
code .c1{color:rgb(145, 184, 145);}
code .kd{color:rgb(30, 132, 235);}
/*code .dl,.s1{color:black;}*/
code .p{color:gray}


.post-loading *{
    color:rgba(0,0,0,0);
    background-color: rgb(247,247,247);
    border-radius: 5px;
}