@media screen and (max-width: 1280px) {
    .post{
        /* margin:40px; */
        padding: 40px;
    }
    .sidebar-wrapper{width:300px;min-width: 300px;}
    .sidebar{width:300px;}

}


@media screen and (max-width: 900px) {
    .sidebar{width:340px;left:-340px;}
    .sidebar-overlay{position: fixed;background: linear-gradient(to right, #000C, #0006);}
    .sidebar-wrapper{min-width:0;width:0;}
    .sidebar-button{display: block;}
    #sidebar_button:checked~.sidebar{left:0px;}
    #sidebar_button:checked~.sidebar-overlay{width:100%}


    .post{
        max-width: 100%;
        width:100%;
        margin:0;
        border-radius: 0;
        padding: 60px;
    }
    .post-content>h1{font-size: 32px;}
    .post-content>h2{font-size: 20px;}
    .post-title{font-size: 30px;}
    .post-dir{font-size: 14px;}
    .post-date{font-size: 14px;}
}


@media screen and (max-width: 550px) {
    .post{
        padding: 15px;
        padding-top:50px;
        /* margin:15px;
        margin-top:40px; */

    }
}