.sidebar{
    position:fixed;
    box-sizing: border-box;
    top:0px; 
    left:-320px;
    width:320px;
    height:100%;
    padding: 10px;

    
    background:url('/assets/images/sidebar.jpg'),rgba(255,255,255,0.1);
    background-size: cover;
    background-position: fixed;
    
    overflow-y: scroll;
    overflow-x: hidden;

    transition: left 0.3s ease 0s;
}
#sidebar_button:checked ~ .sidebar{
    left:0px;
}

.myScroll::-webkit-scrollbar{
    width: 0px;
}

.sidebar-text{
    margin:5px;
    font-weight: bold;
    color:gray;
    margin-bottom:15px;
    width:100%;
}

.sidebar-bottom{
    margin-top:100px;
    width: 220;
    height:150px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}

.sidebar-behind{
    width:320px;
    height:auto;
}

.sidebar-navbars{
    display: flex;
}

.navbar{
    margin-top: 10px;
    padding: 5px;
    background-color: #f1f4f9d0;
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;
    display: none;
    width:100%;
}

.navbar-radio:checked + .navbar{
    display: block;
}

.navbar-folder{
    display:flex;
    flex-direction:row;
    margin-top:5px;
    background-color:rgba(0,0,0,0.1);
    border-radius:5px;
    height:35px;
    width:100%;
    line-height:35px;
    vertical-align:middle;
    font-size:21px;
    color:black;
    padding-left:5px;
}
.navbar-folder:hover{
    /*color:rgba(255,255,255,0.5);*/
    font-weight: bold;
}

.navbar-folder-box{
    padding-left:25px; 
    overflow:hidden; 
    height:0; 
    transform: scaleY(0);
    transform-origin: top;
    transition:all 0.3s ease 0s;
}

.navbar-folder-checkbox:checked ~ .navbar-folder-box{
    height: auto;
    transform: scaleY(1);
}

.navbar-file{
    font-size:16px;
    font-weight: 500;
    color:rgb(50,50,50);
    line-height: 22px;
    border-radius:5px;
    vertical-align:middle;
}
.navbar-file:hover{
    font-weight: bold;
}

.sidebar-apps{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius:20px;
    background-color: rgba(60,60,60,0.5);
    /*box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);*/
}

.app{
    text-align: center;
    vertical-align: middle;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT';
    font-size: 12px;
    font-weight: bold;
    line-height: 55px;
    
    width:55px;
    height:55px;
    background-size: cover;
    background-position: fixed;
    margin:8px;
    border-radius: 15px;
    /*box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);*/
    transition: all 0.1s ease 0s;
}

.app:active{
    width:60px;
    height:60px;
    line-height: 60px;
}