.sidebar{
    position:fixed;
    box-sizing: border-box;
    top:0px; 
    left:0px;
    width:320px;
    height:100%;
    padding: 20px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);

    /*gradient
    (#4b6cb7, #182848) / (#7474bf, #348ac7) / (#d53369, #cbad6d) / (#de6262, #ffb88c)
    */
    background: #7474bf; 
    background: -webkit-linear-gradient(to bottom, #7474bf, #348ac7);
    background: linear-gradient(to bottom, #7474bf, #348ac7); 
    /*background-size: cover;*/
    background-position: fixed;
    
    overflow-y: scroll;
    overflow-x: hidden;

    transition: left 0.3s ease 0s;
}
#sidebar_button:checked ~ .sidebar{
    left:-320px;
    background-color: firebrick;
}

.myScroll::-webkit-scrollbar{
    width: 0px;
}

.sidebar-text{
    margin:5px;
    font-weight: bold;
    color:white;
    margin-bottom:15px;
}

.sidebar-bottom{
    margin-top:100px;
    width: 220;
    height:150px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}

.sidebar-behind{
    width:320px;
    height:auto;
}

.sidebar-navbars{
    display: flex;
}

.navbar{
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease 0s;
    display: none;
}

.navbar-radio:checked + .navbar{
    display: block;
}

.navbar-folder{
    display:flex;
    flex-direction:row;
    margin-top:5px;
    background-color:rgba(255,255,255,0.1);
    border-radius:5px;
    height:35px;
    line-height:35px;
    vertical-align:middle;
    font-size:21px;
    color:rgba(255,255,255,1);
    padding-left:5px;
    font-weight:400;
}
.navbar-folder:hover{
    color:rgba(255,255,255,0.5);
}

.navbar-folder-box{
    padding-left:25px; 
    overflow:hidden; 
    height:0; 
    transform: scaleY(0);
    transform-origin: top;
    transition:all 0.3s ease 0s;
}

.navbar-folder-checkbox:checked ~ .navbar-folder-box{
    height: auto;
    transform: scaleY(1);
}

.navbar-file{
    font-size:16px;
    color:white;
    line-height: 22px;
    font-weight: 100;
    border-radius:5px;
    vertical-align:middle;
}
.navbar-file:hover{
    background-color: rgba(255,255,255,0.1);
}

.sidebar-apps{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius:10px;
}

.app{
    text-align: center;
    vertical-align: middle;
    color:white;
    font-size: 12px;
    line-height: 50px;
    
    width:50px;
    height:50px;
    background-size: cover;
    background-position: fixed;
    margin:9px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

.app:hover{
    width:55px;
    height:55px;
    line-height: 55px;
}