.sidebar-wrapper{
    min-width: 340px;
    width:340px;
    background-color: var(--background);
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.sidebar{
    position:fixed;
    z-index: 2;
    top:0px; 
    left:0px;
    width:340px;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.3s ease 0s;
}

.sidebar>div{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    margin:20px;
}

.sidebar::-webkit-scrollbar{width: 0px;}

.sidebar-overlay{
    z-index: 1;
    height:100%;
    background-color: rgba(0,0,0,0.2);
}

.sidebar-button{display: none;position: fixed;z-index: 3;left:10px;top:10px}
.sidebtn{width:25px;height:4px;border-radius:2px;margin:5px 0;background-color: rgba(0,0,0,0.7);}

.sidebar>.profile{
    height:200px;
    font-family: var(--code-font);

    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}



.sidebar>.profile>div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.sidebar>.profile>.front{
    transform: rotateY(0deg);
    background:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('/assets/images/sidebar.jpg');
    background-size:cover;
    background-position: fixed;
}

.sidebar>.profile>.back{
    transform: rotateY(180deg);
    background:#292930;
}

.sidebar>.rotate{
    /* transform: rotateX(180deg); */
    transform: rotateY(180deg);
}

.profile-name{
    color:white;
    font-size: 30px;
    font-weight:bold;
    text-align:center;
    transition: all 0.3s ease 0s;
}
.profile-name:hover{font-size: 34px;}








/*SIDEBAR - NAVIGATION*/
.sidebar-nav{
    padding: 10px;
}

.nav-navbar-title-wrapper{
    display: flex;
    flex-direction: row;
    font-family: var(--code-font);
}

.navbar-title{
    font-weight: bold;
    margin:0px 5px;
    font-size: 16px;
    line-height: 32px;
    color:darkgray;
    transition: all 0.2s ease 0s;
}

.navbar{
    overflow-x: hidden;
    transition: all 0.2s ease 0s;
    height:0;
    width:0;
}

.navbar-folder{
    display:flex;
    flex-direction:row;
    margin-top:5px;
    background-color:rgba(142, 156, 182,0.2);
    border-radius:5px;
    height:35px;
    width:100%;
    line-height:35px;
    vertical-align:middle;
    font-size: 16px;
    font-weight: bold;
    color:var(--text-color);
    padding-left:5px;
}
.navbar-folder:hover{background-color:rgba(142, 156, 182,0.4);}

.navbar-folder-box{
    padding-left:25px; 
    overflow:hidden; 
    height:0; 
    transform: scaleY(0);
    transform-origin: top;
    transition:all 0.3s ease 0s;
}
.navbar-folder-open{height: auto;transform: scaleY(1);}

.navbar li {
    font-size:14px;
    color:var(--text-color);
    line-height: 25px;
    border-radius:5px;
    vertical-align:middle;
    white-space: nowrap;
}
.navbar li:hover{
    font-weight: bold;
}