.sidebar{
    position:fixed;
    top:0px; 
    left:-320px;
    width:320px;
    height:100%;
    padding: 10px;
    background:url('/assets/images/sidebar.jpg'),rgb(133, 133, 133);
    background-size: cover;
    background-position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.3s ease 0s;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#sidebar_button:checked ~ .sidebar{left:0px;}
.sidebar::-webkit-scrollbar{width: 0px;}

.sidebar:root{
    --url:"/spa-blog/2021/11/20/spa-blog-1.html";
}

.sidebar input{
    display: none;
}

.sidebar-profile{
    height:200px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.profile-name{
    /*border:solid 5px black;*/
    color:white;
    /*width:100px;*/
    font-size: 30px;
    font-weight:bold;
    text-align:center;
    /*background-color: rgba(255, 248, 220, 0.253);*/
}

.sidebar-behind{
    width:320px;
    height:auto;
}

/*SIDEBAR - NAVIGATION*/
.sidebar-nav{
    backdrop-filter: blur(5px);
    padding: 5px;
    background-color: #f1f4f9ab;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.nav-navbar-title-wrapper{
    display: flex;
    flex-direction: row;
    margin:5px;
}

.navbar-title{
    margin-right:10px;
    color:darkgray;
    transition: all 0.2s ease 0s;
}
input[name="navbar-title"]:checked + label{
    color:dimgrey;font-weight: bold;
}

.navbar{
    overflow-x: hidden;
    transition: all 0.2s ease 0s;
    height:0;

    width:0;
    /*transform: scaleY(0);*/
}
input[name="navbar"]:checked + .navbar{width:100%;height: auto;}
/*input[name="navbar"]:checked + .navbar{height: auto;transform: scaleY(1);}*/

.navbar-folder{
    display:flex;
    flex-direction:row;
    margin-top:5px;
    background-color:rgba(0,0,0,0.1);
    border-radius:5px;
    height:35px;
    width:100%;
    line-height:35px;
    vertical-align:middle;
    font-size:21px;
    color:black;
    padding-left:5px;
}
.navbar-folder:hover{font-weight: bold;}

.navbar-folder-box{
    padding-left:25px; 
    overflow:hidden; 
    height:0; 
    transform: scaleY(0);
    transform-origin: top;
    transition:all 0.3s ease 0s;
}
.navbar-folder-checkbox:checked + .navbar-folder-box{height: auto;transform: scaleY(1);}

.navbar-file{
    font-size:16px;
    font-weight: 500;
    color:rgb(50,50,50);
    line-height: 22px;
    border-radius:5px;
    vertical-align:middle;
    white-space: nowrap;
}
.navbar-file:hover{font-weight: bold;}
.navbar-file-selected{font-weight: bold;color:cornflowerblue;}