*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction:row;
    /*font-family: sans-serif, Helvetica, Arial;*/
    font-family:'Arial Narrow Bold', sans-serif;
    background-color:#F1F4F9;
}

/*theme colot 
lavenderblush
*/