:root{
    --background:#F1F4F9;
    --post-background:white;
    --text-color:#3C3C3C;
    --text-highlight-color:cornflowerblue;
    
    --base-font:sans-serif, Helvetica, Arial;
    --code-font:Consolas, sans-serif, Helvetica, Arial;

}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction:row;
    font-family: var(--base-font);
    background-color:white;
}

::selection{
    background-color: #abc4f360;
}



img{
    border-radius: 5px;
    max-width:100%;
    display: block;
    margin: auto;
}
