:root{
    --background:#F1F4F9;
    --post-background:white;
    --text-color:rgb(29, 29, 31);
    --text-highlight-color:cornflowerblue;
    
    --base-font:sans-serif, Helvetica, Arial;
    --code-font:Consolas, sans-serif, Helvetica, Arial;

}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction:row;
    font-family: var(--base-font);
    background-color:white;
    background-color: #F5F5F7;
}

::selection{
    background-color: #abc4f360;
}



img{
    border-radius: 5px;
    max-width:100%;
    display: block;
    margin: auto;
}


/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
    width: 10px; /* 수직 스크롤바의 너비 */
}

/* 스크롤바의 트랙(배경) 스타일 */
::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 스크롤바 트랙의 배경색 */
}

/* 스크롤바의 핸들(바) 스타일 */
::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 핸들의 배경색 */
    border-radius: 5px; /* 스크롤바 핸들의 모서리 둥글게 */
}

/* 마우스 오버 시 스크롤바의 트랙(배경) 스타일 */
::-webkit-scrollbar-track:hover {
    background-color: #f0f0f0;
}

/* 마우스 오버 시 스크롤바의 핸들(바) 스타일 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

