---
layout: default
---
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/post.css">
</head>

<body>
    <div class="sidebar-wrapper"></div>
    <article class="post">
        <!--post start-->
        <header class="post-header">
            <div class="post-dir">{{page.categories | slice: 1, 10 | join: '>' | replace: '-', ' '}}</div>
            <h1 class="post-title">{{ page.title | escape }}</h1>
            <div class="post-info">
                <div class="post-date">{{ page.date | date_to_string }}</div>
            </div>
            <ol class="post-hyperlink"><p style="font-weight: bold;font-size:17px;">목차</p></ol>
        </header>
        <main class="post-content">
            {{ content }}
        </main>
        <footer class="post-footer">
        </footer>
        <!--post end-->
    </article>
    <script src="/assets/js/Navigation.js"></script>
    <script src="/assets/js/Post.js"></script>
</body>

</html>